.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  margin: auto;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.modal__close {
  background: transparent url(../images/close.svg) center no-repeat;
  border: none;
  background-size: contain;
  width: 35px;
  height: 35px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 54px;
}

.modal__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  padding-top: 15px;
}

.modal__form {
  display: grid;
  margin: 0 auto;
}

.modal__form-description {
  margin-top: 30px;
}

.modal__button {
  margin-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  width: 358px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 26px);
    left: calc(100% - 26px);
  }

  .modal__heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
  }
}
